@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --font-noto-sans-thai: 'Noto Sans Thai', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: #D4AF37;
  --color-accent-hover: #F3E5AB;
  --color-dark-gray: #111111;
  --color-light-gray: #A1A1AA;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans-thai), sans-serif;
  overflow-x: hidden;
}

::selection {
  background: var(--color-accent);
  color: var(--background);
}
